{% extends "layout/main.html.j2" %}

{% block title %}Sign in{% endblock  %}

{% block content %}
<span class="test">coba</span>
{% endblock  %}

{% block t_script %}
<script>
    console.log('testing...')
</script>
{% endblock  %}